In [1]:
import pandas as pd
from pandas import datetime
from pandas import DataFrame

from pandas import DataFrame
from pandas import concat

from sklearn.preprocessing import MinMaxScaler

C:\ProgramData\Anaconda3\envs\Forecatsing\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.

In [2]:
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    """
    Frame a time series as a supervised learning dataset.
    Arguments:
        data: Sequence of observations as a list or NumPy array.
        n_in: Number of lag observations as input (X).
        n_out: Number of observations as output (y).
        dropnan: Boolean whether or not to drop rows with NaN values.
    Returns:
        Pandas DataFrame of series framed for supervised learning.
    """
    n_vars = 1 if type(data) is list else data.shape[1]
    df = DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg

In [3]:
# dataset indonesia (jakarta)
case = pd.read_csv('data/jakarta/case_maret_july.csv')
mobility = pd.read_csv('data/jakarta/mobility_maret_july.csv')
weather = pd.read_csv('data/jakarta/weather_maret_july.csv')
case.set_index('date', inplace=True)
#weather.set_index('date', inplace=True)
mobility.set_index('date', inplace=True)

In [4]:
new_weather = weather.interpolate(method='spline', order=2)
new_weather.head()

new_weather.set_index('date', inplace=True)

In [5]:
data = pd.concat([case, new_weather, mobility], axis=1)
data.head()

,case,rh,avt,mxt,mnt,retail_recreation,grocery_pahrmacy,parks,transit_station,workplace,residential
date,,,,,,,,,,,
2020-03-18,38,86.0,27.6,29.0,25.800000,-22,-3,-28,-32,-19,11
2020-03-19,50,83.0,28.1,31.4,25.800000,-28,-12,-33,-38,-21,12
2020-03-20,14,82.0,27.4,31.2,25.200000,-30,-11,-32,-42,-23,15
2020-03-21,44,81.0,28.1,32.4,26.602196,-35,-5,-38,-40,-10,11
2020-03-22,36,84.0,27.2,31.2,25.000000,-49,-22,-59,-49,-12,14

In [6]:
values = data.values
# ensure all data is float
values = values.astype('float32')

In [7]:
# normalize features
scaler = MinMaxScaler(feature_range=(0, 1))
scaled = scaler.fit_transform(values)
print(scaled)

[[0.00255864 0.7428571  0.40983582 ... 0.7704917  0.8428571  0.28125   ]
 [0.00383795 0.65714276 0.49180317 ... 0.67213106 0.8142857  0.3125    ]
 [0.         0.6285714  0.37704897 ... 0.6065573  0.78571427 0.40625   ]
 ...
 [0.9868869  0.5142857  0.6393442  ... 0.65573764 0.78571427 0.28125   ]
 [0.99999994 0.5142857  0.62295055 ... 0.6065573  0.8428571  0.3125    ]
 [0.8884861  0.5142857  0.5409837  ... 0.5737704  0.5428571  0.4375    ]]

In [8]:
# frame as supervised learning
reframed = series_to_supervised(scaled, 1, 1)
print(reframed)

     var1(t-1)  var2(t-1)  var3(t-1)  var4(t-1)  var5(t-1)  var6(t-1)  \
1     0.002559   0.742857   0.409836      0.175   0.560000   0.821429
2     0.003838   0.657143   0.491803      0.475   0.560000   0.714286
3     0.000000   0.628571   0.377049      0.450   0.440001   0.678571
4     0.003198   0.600000   0.491803      0.600   0.720439   0.589286
5     0.002345   0.685714   0.344262      0.450   0.400000   0.339286
..         ...        ...        ...        ...        ...        ...
463   0.498827   0.600000   0.442623      0.400   0.440001   0.714286
464   0.798614   0.600000   0.360655      0.325   0.400000   0.714286
465   0.737740   0.514286   0.557377      0.675   0.480000   0.767857
466   0.986887   0.514286   0.639344      0.625   0.560000   0.642857
467   1.000000   0.514286   0.622951      0.675   0.680000   0.535714

     var7(t-1)  var8(t-1)  var9(t-1)  var10(t-1)  ...   var2(t)   var3(t)  \
1     0.651515   0.944444   0.770492    0.842857  ...  0.657143  0.491803
2     0.515152   0.875000   0.672131    0.814286  ...  0.628571  0.377049
3     0.530303   0.888889   0.606557    0.785714  ...  0.600000  0.491803
4     0.621212   0.805556   0.639344    0.971429  ...  0.685714  0.344262
5     0.363636   0.513889   0.491803    0.942857  ...  0.600000  0.508197
..         ...        ...        ...         ...  ...       ...       ...
463   0.696970   0.680556   0.606557    0.600000  ...  0.600000  0.360655
464   0.696970   0.666667   0.590164    0.585714  ...  0.514286  0.557377
465   0.803030   0.708333   0.573770    0.585714  ...  0.514286  0.639344
466   0.772727   0.569444   0.655738    0.785714  ...  0.514286  0.622951
467   0.621212   0.444444   0.606557    0.842857  ...  0.514286  0.540984

     var4(t)   var5(t)   var6(t)   var7(t)   var8(t)   var9(t)  var10(t)  \
1      0.475  0.560000  0.714286  0.515152  0.875000  0.672131  0.814286
2      0.450  0.440001  0.678571  0.530303  0.888889  0.606557  0.785714
3      0.600  0.720439  0.589286  0.621212  0.805556  0.639344  0.971429
4      0.450  0.400000  0.339286  0.363636  0.513889  0.491803  0.942857
5      0.525  0.400000  0.500000  0.409091  0.736111  0.426229  0.628571
..       ...       ...       ...       ...       ...       ...       ...
463    0.325  0.400000  0.714286  0.696970  0.666667  0.590164  0.585714
464    0.675  0.480000  0.767857  0.803030  0.708333  0.573770  0.585714
465    0.625  0.560000  0.642857  0.772727  0.569444  0.655738  0.785714
466    0.675  0.680000  0.535714  0.621212  0.444444  0.606557  0.842857
467    0.625  0.400000  0.732143  0.818182  0.652778  0.573770  0.542857

     var11(t)
1     0.31250
2     0.40625
3     0.28125
4     0.37500
5     0.50000
..        ...
463   0.40625
464   0.43750
465   0.28125
466   0.31250
467   0.43750

[467 rows x 22 columns]

In [9]:
# drop columns we don't want to predict
reframed.drop(reframed.columns[[12,13,14,15,16,17,18,19,20,21]], axis=1, inplace=True)
print(reframed.head())

   var1(t-1)  var2(t-1)  var3(t-1)  var4(t-1)  var5(t-1)  var6(t-1)  \
1   0.002559   0.742857   0.409836      0.175   0.560000   0.821429
2   0.003838   0.657143   0.491803      0.475   0.560000   0.714286
3   0.000000   0.628571   0.377049      0.450   0.440001   0.678571
4   0.003198   0.600000   0.491803      0.600   0.720439   0.589286
5   0.002345   0.685714   0.344262      0.450   0.400000   0.339286

   var7(t-1)  var8(t-1)  var9(t-1)  var10(t-1)  var11(t-1)   var1(t)
1   0.651515   0.944444   0.770492    0.842857     0.28125  0.003838
2   0.515152   0.875000   0.672131    0.814286     0.31250  0.000000
3   0.530303   0.888889   0.606557    0.785714     0.40625  0.003198
4   0.621212   0.805556   0.639344    0.971429     0.28125  0.002345
5   0.363636   0.513889   0.491803    0.942857     0.37500  0.003945

In [16]:
# split into train and test sets
values = reframed.values

n_total = values.shape[0]
train = values[:n_total, :]
test = values[n_total:, :]

# split into input and outputs
train_X, train_y = train[:, :-1], train[:, -1]
test_X, test_y = test[:, :-1], test[:, -1]

In [15]:
#values.shape[0]

#n_train_hours = 365 * 24
#train = values[:n_train_hours, :]
#test = values[n_train_hours:, :]

467